body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.8;
    color: #000000;
}

p {font-size: 16px;}

.margin {margin-bottom: 45px;}

.navbar {
  background-color: #f42c3c;
  opacity: 0.9;
  border-radius: 0;
  width: 100%;
  position: fixed;
}

.navbar-header {   
  padding: 0px;
  text-align: center;
  width: 93%;

}

.navbar-brand {
  padding-top: 10px;
  color: #FFFFFF;
  float:none;
  position: absolute;

}

.navbar-nav > li > a {
  font-size: 12px;
  color: #FFFFFF;
  width: 130px;
  text-align: center;

}

.jumbotron {
  margin-bottom: 0px;
  background-image: url('../img/food.jpg');
  background-blend-mode: lighten;
  background-position: 0% 55%;
  background-size: cover;
  width: 100%;
  height: 580px;

}

.jumbotrontext {
  text-align: center;
  color: #f42c3c;
  width: 400px;
  margin: auto;
  color: black;
  padding-top: 150px;
}

.bg-1 { 
    background-color: #f42c3c;
    color: #FFFFFF;
    padding: 30px;

}

.banner-header {  
  width: 100%;
  color: black;
  font-size: 35px;
  padding-top: 30px;
}

.venueImage {
  width: 250px;
  height: 250px;
  border-radius: 25px;
  border: 2px solid #000000;
  
}

.iconBlock {
  margin-right: 5px;
  width: 250px;
  height: 250px;
  border-radius: 25px;
  border: 2px solid #000000;
  text-align: center;
  padding: 20px;
  color:  #000000;
  background-color: #E0E0E0;
}

.customerQuoteBackground {  
  background-image: url('../img/food.jpg');
  background-color: #edeeef;
  background-blend-mode: soft-light;
  background-position: 0% 55%;
  background-size: cover;
  width: 100%;
  padding-top: 10px;
}

.circle {
  background-color: #f42c3c;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  float: left;
  margin-right: 10px;
}

.customerQuote {
  text-align: left; 
  font-size: 25px; 
  line-height: 35px; 
  padding-top: 5px;
}

.getStarted {
  width: 200px; 
  text-align: 
  center; margin-left: 
  550px; 
  border: 1px solid #000000;
  margin-top: 40px;
  margin-bottom: 40px;
}

div > div > h2 {
  margin-bottom: 30px;
  margin-top: 30px;
}

    
    /* Add a gray background color and some padding to the footer */
footer {
  background-color: #f42c3c;
  color: #FFFFFF;
  padding: 25px;
}

li {
  text-align: left;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

