body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.8;
    color: #000000;
}


.navbar {
  background-color: #f42c3c;
  opacity: 0.9;
  border-radius: 0;
  position: fixed;
  width: 100%;

}


.navbar-nav {
  text-align: center;
  padding-left: 30vw;
}


.navbar-nav > li > a {
  font-size: 12px;
  color: #FFFFFF;
  padding-left: 2vw;
  padding-right: 2vw;

}

.navLogo {
  width: 60px;
  display: inline;
  float: right;
  padding-top: 10px;
  padding-right: 5vw;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: #f42c3c;
    color: white;
    padding: 12px;
    font-size: 14px;
    width: 120px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.navdown {
    position: relative;
    display: none;

}

/* Dropdown Content (Hidden by Default) */
.navdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
}

/* Links inside the dropdown */
.navdown-content a {
    color: black;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    display: block;
}

/* Change color of dropdown links on hover */
.navdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.navdown:hover .navdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.navdown:hover .dropbtn {
    background-color: #AD2631;
}

@media (max-width: 780px) {
  nav ul     { display: none; }
  .navdown { display: inline; float: left;}
}

.jumbotron {
  margin-bottom: 0px;
  background-image: url('../img/food.jpg');
  background-blend-mode: lighten;
  background-position: 0% 55%;
  background-size: cover;
  width: 100%;
  height: 380px;

}

.jumbotrontext {
  text-align: center;
  color: #f42c3c;
  width: 400px;
  margin: auto;
  color: black;
  padding-top: 100px;
}

.searchContainer {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

input[type=text] {
  width: 200px;
  height: 35px;
  font-size: 12px;
  background-color: white;
  padding: 5px 10px 5px 10px;
}

input[type=text]:focus {
    
}

.searchButton {
  background-color: #f42c3c;
  border: 2px solid #f42c3c;
  height: 35px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  
}

.searchButton:hover {
  color: white;
}

.searchBorder {
  border: 2px solid #f42c3c;
}



.foodTypes {

  width: 100%;
  height: 50px;
  margin: auto;
  background-color: #f42c3c;

}

.foodIcon {
  margin: 1.5vw;
  margin-left: 3vw;
  position: relative;
  width: 20vw;
  height: 20vw;
  display: inline-block;
}

.foodIcon:hover {
  opacity: 0.5;
}

.imageText {

  width: 100%;
  height: 4.5vw;
  padding-top: 1vw;
  margin: 0px;
  text-align: center;
  line-height: 0.5vw;
  color:  #000000;
  background-color: #f42c3c;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  overflow: hidden;
}

.venueImage {
  width: 20vw;
  height: 16vw;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  border: 2px solid #000000;
  
}

#map { 
  width: 50%;
  height: 100%;
  margin: auto;

}
.mapContainer {
  width:100%; 
  height:400px;
  margin: 0px 0px 30px 0px;
  
}


@media (max-width: 780px) {
  #map     { width: 80%; }
}



